<!DOCTYPE html>
<html>
  <head>
    <title>User Created</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      p {
        margin: 20px 0;
      }

      a {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Пользователь "<%= name %>" отредактирован!</h1>
    <button type="button" onclick="window.location.href='/'">Главная</button>
  </body>
</html>
