<!DOCTYPE html>
<html>
  <head>
    <title>User Created</title>
  </head>
  <body>
    <h1>User Created</h1>
    <p>Пользователь <%= name %> добавлен!</p>
    <a href="/">Главная</a>
    <a href="/create-users">Создать пользователя</a>
  </body>
</html>
